<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta charset="utf-8">
    <title>Chat Example</title>
    <style>
      /* Chat window styles */
      .chat-window {
        position: fixed;
        bottom: 20px;
        right: 20px;
        width: 350px;
        height: 500px;
        border: 1px solid #ccc;
        border-radius: 5px;
        overflow: hidden;
        font-family: sans-serif;
      }

      .chat-header {
        background-color: #fff;
        padding: 10px;
        border-bottom: 1px solid #ccc;
      }

      .chat-messages {
        height: 400px;
        overflow-y: scroll;
        padding: 10px;
      }

      .chat-message {
        background-color: #f2f2f2;
        padding: 6px;
        margin-bottom: 10px;
        border-radius: 5px;
      }
      .chat-form {
        display: flex;
        padding: 6px;
        background-color: #fff;
        border-top: 1px solid #ccc;
      }

      .chat-input {
        flex: 1;
        margin-right: 10px;
        padding: 5px;
        border: none;
        border-radius: 5px;
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
      }

      .chat-submit {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70px;
        padding: 5px 10px;
        border: none;
        border-radius: 5px;
        background-color: #007bff;
        color: #fff;
        font-weight: bold;
      }

      .chat-submit i {
        margin: 0;
      }

    </style>
  </head>
  <body>
    <div class="chat-window">
      <div class="chat-header">Chat Example</div>
      <div class="chat-messages" id="messages"></div>
      <form class="chat-form" id="message-form">
  <input type="text" class="chat-input" id="message-input" placeholder="Type your message...">
  <button type="submit" class="chat-submit"><i class="fas fa-paper-plane fa-lg"></i></button>
      </form>
    </div>
    <script>
      window.onload = function() {

        let messageInput = document.getElementById("message-input")
        let messageForm = document.getElementById("message-form")
        let messagesContainer = document.getElementById("messages")

        messageForm.addEventListener("submit", e => {
          e.preventDefault()
          window.channel.push("shout", {body: messageInput.value})
          messageInput.value = ""
        })

        window.channel.on("shout", payload => {
          let messageItem = document.createElement("div")
          messageItem.classList.add("chat-message")
          messageItem.innerText = payload.message.body
          messagesContainer.appendChild(messageItem)
          messagesContainer.scrollTop = messagesContainer.scrollHeight
        })
      }
    </script>
  </body>
</html>
